body{
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
    margin:0;
}

header{
    background:#1f4e79;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    background:#333;
    text-align:center;
    padding:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

section{
    background:white;
    width:80%;
    margin:20px auto;
    padding:20px;
    border-radius:8px;
}

h2{
    color:#1f4e79;
}

footer{
    background:#1f4e79;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}